<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153039752857-72d13abnoqa0a65bov7iij1lj1k8enal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153039752857-72d13abnoqa0a65bov7iij1lj1k8enal</string>
	<key>API_KEY</key>
	<string>AIzaSyC6qjrLbbN2WsCEJdOHTkGIeYFcGzALrQM</string>
	<key>GCM_SENDER_ID</key>
	<string>153039752857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hominlim.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-fcb41</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-fcb41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153039752857:ios:971794fe65d51bfe287208</string>
</dict>
</plist>